<!--
  Generated template for the PeoplesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>peoples</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <span *ngFor="let people of peoples">
      <ion-item *ngIf="people.gender !== 'n/a'">
        <h1>{{people.name}}</h1>
        <h2 [ngClass]="{'red-text': people.gender === 'female','blue-text': people.gender === 'male' }">{{people.gender}}</h2>
        <p>{{people.height}} / {{people.mass}}</p>
        <div [ngSwitch]="people.gender">
          <div *ngSwitchCase="'male'">
            <p>{{people.hair_color}}</p>
          </div>
          <div *ngSwitchCase="'female'">
            <p>{{people.skin_color}}</p>
          </div>
        </div>
      </ion-item>
    </span>
  </ion-list>
</ion-content>